body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #edeef0 !important; 
}
.piece{
  background-color: #ffffff !important;
  padding-bottom: 30px;
  padding-top: 10px;
}
.page-header{
  text-align: center !important;
}

/* Base CSS for Login Page */
.search-box {
	margin:80px auto;
	position:absolute;
}

.caption{
	margin-bottom:50px;
}

.loginForm input[type=text], 
.loginForm input[type=password] {
	margin-bottom:10px;
}

.loginForm input[type=submit]{
	background:#fb044a;
	color:#fff;
	font-weight:700;

}